#ToursSection{
    padding-top: 70px;
}
#title{
    text-align: center;
    padding-top: 1rem;
}
.tourlist{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem 0;
}