.HomeSection{
    padding-top: 70px;
    text-align: center;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
#title{
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 2rem 2rem;
    width: 100%;
    z-index: 1;
}
.slide{
    width: 100%;
    position: relative;
}
#text{
    color: black;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2rem 2rem 0 0;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .HomeSection{
        width: 100%;
    }
    #title{
        font-size: x-large;
        padding: 0;
    }
    #text{
        font-size: small;
        padding: 0;
    }
}