html{
    scroll-behavior: smooth;
}

#space{
    height: 100px;
}

#navbar{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #202020;
    position: fixed;
    z-index: 1;
    width: 100%;
}

#nav-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    text-align: center;
    list-style-type: none;
}

#nav-links li {
    border-right: solid green 2px;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-link:hover{
    color: rgb(0, 180, 0);
}